h1 Pods

if pods.length > 0
  table.table
    thead
      th(scope="col") Pod ID
    each pod in pods
      tr
        td
          a.nav-link(href="https://" + pod + '.' + uri target="_blank")=pod
        td
          .btn.btn-primary(onClick="load_view('podInfo?id=" + pod + "')") Pod Info
else
  div This host is currently not running any pods.